@charset "utf-8";
body {
    background-color: #423527;
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-x;
    margin:0px;
    color: white;
    font: 12px verdana;
}

section {
    width:920px;
    background-image:url(../images/container_bg.jpg);
    background-repeat:repeat-y;
    margin:auto;
}

.container_top {
    background-image:url(../images/maintop.jpg);
    height:19px;
}

.container_btm {
    background-image:url(../images/mainbtm.jpg);
    height:20px;
    clear: both;
}

.navbar_bg {
    background-image:url(../images/navbar.jpg);
    height:43px;
}

#side_left {
    width:619px;
    float:left;
}

#side_right {
    width:301px;
    float:left;
}

.content_top {
    background-image:url(../images/contenttop.jpg);
    height:7px;
}

.content_bg {
    background-image:url(../images/contentbg.jpg);
}

.content_btm {
    background-image:url(../images/contentbtm.jpg);
    height:7px;
}

.content_title {
    font-size:24px;
    padding:0px 20px 0px 20px;
}

.content_main {
    padding:0px 10px 0px 20px;
}

.copyright_text {
    padding: 10px 0px;
    color:#e6d7a8;
    text-align: center;
}

a {
    text-decoration:none;
}

/* Nav */
.nav_text_right  {
    padding:24px 0px 0px 5px;
}

a:link {
    color:#9C8C7C;
    text-decoration: none;
}

a:active {
    color:#9C8C7C;
    text-decoration: none;
}

a:visited {
    color:#9C8C7C;
    text-decoration: none;  
}

a:hover {
    color:#ffffff;
    text-decoration: underline;
}

.nav_whoweare {
background-image:url(../images/nav_whoweare.jpg);
    height:46px;
    margin-bottom:3px;
}

.nav_aboutus {
background-image:url(../images/nav_aboutus.jpg);
    height:46px;
    margin-bottom:3px;
}

.nav_sermons {
background-image:url(../images/nav_sermons.jpg);
    height:46px;
    margin-bottom:3px;
}

.nav_ministries {
background-image:url(../images/nav_ministries.jpg);
    height:46px;
    margin-bottom:3px;
}

.nav_prayerrequest {
background-image:url(../images/nav_prayerrequest.jpg);
    height:46px;
    margin-bottom:3px;
}