#cssmenu {
    border: none;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans',
        'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica,
        sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#cssmenu  ul {
    background: #F93;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: inset 0px 10px 30px 0px rgba(100, 100, 100, .2);
    -moz-box-shadow: inset 0px 10px 30px 0px rgba(100, 100, 100, .2);
    box-shadow: inset 0px 10px 30px 0px rgba(100, 100, 100, .2);
}

#cssmenu  li {
    float: left;
    padding: 0px 0px 0px 15px;
}

#cssmenu  li a {
    color: #000;
    display: block;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    padding: 0px 25px;
    text-align: center;
    text-decoration: none;
}

#cssmenu  li a:hover {
    background: #C60;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}

#cssmenu  ul li:hover a {
    background: #C60;
    color: #FFFFFF;
    text-decoration: none;
}

#cssmenu  li ul {
    display: none;
    height: auto;
    padding: 0px;
    margin: 0px;
    border: 0px;
    position: absolute;
    width: 200px;
    z-index: 200;
    -webkit-box-shadow: inset 3px 3px 30px 3px rgba(100, 100, 100, .2);
    -moz-box-shadow: inset 3px 3px 30px 3px rgba(100, 100, 100, .2);
    box-shadow: inset 3px 3px 30px 3px rgba(100, 100, 100, .2);
}

#cssmenu  li:hover ul {
    display: block;
}

#cssmenu  li li {
    display: block;
    float: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    background: #F93;
    /*this is where the rounded corners for the dropdown disappears*/
}

#cssmenu  li:hover li a {
    background: none;
}

#cssmenu  li ul a {
    display: block;
    height: 50px;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px 10px 0px 15px;
    text-align: left;
}

#cssmenu  li ul a:hover,#cssmenu  li ul li:hover a {
    border: 0px;
    color: #ffffff;
    text-decoration: none;
    background: #C60;
    -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
    box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
}

#cssmenu li li:last-child {
    background: transparent;
}

#cssmenu  li ul li:hover:last-child a,#cssmenu li ul {
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    border-radius: 0px 0px 15px 15px;
}

#cssmenu ul ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#cssmenu>ul {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;
}