<h1>Mission</h1>
<div class="mainText">
    We are followers of Jesus Christ who are sent into the world to be the embodiment of Christ
    in the world, worshiping in spirit and truth, living life together in authenticity, eagerly serving the
    community, and intentionally crossing barriers from church to non-church in word and deed for the sake
    of the proclamation of the Gospel.
</div>
<h1>Vision</h1>
<div class="mainText">
    Our vision is to develop a worshiping community where we see: transformed lives, deeper
    followers of Jesus, healthier marriages, stronger families, service multiplied, transparent and authentic
    lives – lived in community, a sense of belonging for all people.
</div>
<h1>Values</h1>
<div class="mainText">
    <h4>Worship</h4>
    <div class="indent">welcoming, creative and honest worship that focuses on Jesus Christ and the Word of God.</div>
    <h4>Hospitality</h4>
    <div class="indent">making space for life-giving community where people are welcome wherever they're at in their journey</div>
    <h4>Service</h4>
    <div class="indent">
        Service - ushering in the Kingdom of God individually and corporately; making this place more
        like heaven where justice, peace, and mercy reign.
    </div>
    <h4>Faith</h4>
    <div class="indent">each person growing in the likeness of Christ through worship, service and discipleship</div>
    <h4>Family</h4>
    <div class="indent">Family - spouses, singles, children, parents, and church family becoming healthy and life-giving</div>
</div>
